# SPDX-FileCopyrightText: {{ copyright_name }} <{{ copyright_email }}>
# SPDX-License-Identifier: {{ license }}

# Data/logs/testing
.data
*.log
*.sql

# Secrets
auth.json
.env
.env.*
!.env.example
.ssh
*.key

# Dependencies
node_modules
vendor

# Context-specific
*.cache
*.local
*.local.*
!*.local*.example
.direnv
.pre-commit-config.yaml

# Build artifacts
hot
result
target

# Editor
/.idea/
